* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

#hero {
    background: #1f2937;
}

.nav {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.main {
    height: 500px;
    display: flex;
}

.main-text {
    font-size: 48px; 
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 40px 10px 0;
}

button {
    background: #3882f6;
    color: #f9faf8;
    font-weight: 900;
    font-size: 18px;
    padding: 8px 30px;
    border: none;
    border-radius: 8px;
}

.right-col,
.left-col {
    width: 50%;
    flex: 1;
    margin: auto 0;
}

.left-col .img {
    color: #f9faf8;
    height: 230px;
    background: #646464;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}